html, body{
    height: 100%;
    width: 100%;
}
.button{
    padding: 20px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}
.row{
    margin: 8px 0;
    
}
.button{
    padding: 20px;
    margin: 0 3px;
    background-color:white;
    size: 40px;
}
.row input{
    margin: 0;
    padding: 10px 38px;
    border: 2px solid black;
    border-radius: 7px;

}
.container{
    border: 2px black groove;
    background-color: black;
}